*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background:linear-gradient(135deg,#EAF4FF,#F7F1FF);
    color:#1F2937;
    line-height:1.6;
}

/* Header */
header{
    background:linear-gradient(90deg,#1D8CF8,#8E44FF);
    color:white;
    text-align:center;
    padding:35px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

header h1{
    font-size:42px;
    margin-bottom:8px;
}

header p{
    font-size:20px;
}

/* Sections */
section{
    width:85%;
    margin:30px auto;
    background:#fff;
    padding:30px;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,0.12);
}

/* Headings */
h2{
    color:#2563EB;
    margin-bottom:20px;
    font-size:30px;
}

/* About Image */
#about img{
    width:180px;
    height:180px;
    border-radius:50%;
    display:block;
    margin:20px auto;
    border:5px solid #4F8EF7;
    box-shadow:0 0 20px rgba(79,142,247,.4);
}

/* Skills */
ul{
    list-style:square;
    margin-left:30px;
}

ul li{
    margin:10px 0;
    font-size:25px;
}

/* Projects */
.project{
    margin-bottom:35px;
}

.project img{
    width:280px;
    border-radius:12px;
    margin-bottom:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

/* Links */
a{
    color:#2563EB;
    text-decoration:none;
    font-weight:bold;
}

a:hover{
    color:#8E44FF;
    text-decoration:underline;
}

/* Buttons */
button{
    background:linear-gradient(90deg,#1D8CF8,#8E44FF);
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:30px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

/* Footer */
footer{
    text-align:center;
    background:#1E293B;
    color:white;
    padding:20px;
    margin-top:40px;
}

/* Smooth Animation */
section:hover{
    transform:translateY(-5px);
    transition:.3s;
}

html{
    scroll-behavior:smooth;
}